<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facilities Suzano - Jardinagem</title>
</head>
<body>
    <div style="text-align: center;">
         <p style="font-size: 25px; color: #003366; font-family: Arial, sans-serif; font-weight: bold;">Facilities Suzano</p>
    </div>
    <div style="margin-top: 20px; text-align: center;">
        <h2 style="font-size: 18px; color: #000; font-family: Arial, sans-serif;">{{ email }} | '{{ nome }}' adicionado como {{ cargo }} ao sistema de Jardinagem, senha de acesso</h2>
        <p style="font-size: 25px; color: #003366; font-family: Arial, sans-serif; font-weight: bold;">{{ senha }}</p>
    </div>
</body>
</html>