<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facilities Suzano - Jardinagem</title>
</head>
<body>
    <div style="text-align: center;">
         <p style="font-size: 25px; color: #003366; font-family: Arial, sans-serif; font-weight: bold;">Facilities Suzano - Jardinagem</p>
    </div>
    <div style="margin-top: 20px; text-align: left;">
        <p style="font-size: 18px; color: #000; font-family: Arial, sans-serif;">
            serviço atribuido a {{colaborador_nome}}<br><br>
            {{descricao}}<br><br>
            Cancelado<br>
            Serviço de {{servicos}} na área {{self.area}} | {{localidade}}, inicio em {{data_inicio}}<br>
            <br>
            resumo da atividade:<br>
            area: {{area}}<br>
            area M^2: {{area_total}}<br>
            localidade: {{localidade}}<br>
            servicos: {{servicos}}<br>
            inicio: {{data_inicio}}<br>
        <p>
    </div>
</body>
</html>