{% load static %}

<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024. Facility Management Suzano. Todos os direitos reservados.</span>
  </div>
  <div class="brand-logo" data-width="400" align="center">
    <img src="{% static 'assets/logo facilities (1) (3) (2) (1) (1).png' %}" alt="Facilities Jardinagem">
  </div>
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Facilities Regional Norte</span>
  </div>
</footer>