{% load static %}
<div class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Controle de serviços</h4>
      <div class="mt-3">
        <a href="{% url 'catalogo_de_servicos' type id %}">
          <button type="button" class="btn btn-secondary">Catálogo de serviços</button>
        </a>
        <a href="{% url 'servicos' type id %}">
          <button type="button" class="btn btn-secondary">Serviços agendados</button>
        </a>
        <a href="{% url 'execucao_de_servicos' type id %}">
          <button type="button" class="btn btn-secondary">Execução de serviços</button>
        </a>
      </div>
    </div>
  </div>
</div>