{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

{% include 'partials/_header.html' %}

<body>
  <div class="container-scroller">
    {% include 'partials/_barra_superior.html' %}
    <div class="container-fluid page-body-wrapper">
      {% include 'partials/_menu_lateral.html' %}
      <div class="main-panel">
        <div class="content-wrapper">
          {% include 'partials/_messages.html' %}
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Editar ferramenta
                      {{ ferramenta_disponivel_form.catalogo_ferramenta.nome.value }}
                      {{ ferramenta_disponivel_form.matricula.value }}</h3>
                </div>
              </div>
            </div>
          </div>
          <form action="{% url 'editar_ferramenta_disponivel' type ferramenta_disponivel_id id%}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              {% csrf_token %}
                <div class="form-group">
                  {% for field in ferramenta_disponivel_form.visible_fields %}
                    <div class="form-group">
                      <label for="{{ field.id_for_label }}" >
                        {{ field.label }}
                      </label>
                      {{ field }}
                    </div>
                  {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
              <a href="{% url 'equipamentos_disponiveis' type id %}">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Fechar </button>
              </a>
              <a>
                <button type="submit" class="btn btn-success" data-dismiss="modal"> Salvar </button>
              </a>
              <a data-toggle="modal" data-target="#modal">
                <button type="button" class="btn btn-danger"> Desmobilizar </button>
              </a>
              {% if type == "Administrador" or type == "Gestor" %}
                <a data-toggle="modal" data-target="#modalpermanente">
                  <button type="button" class="btn btn-inverse-danger btn-fw" data-dismiss="modal"> Desmobilização permanente </button>
                </a>
              {% endif %}
            </div>
          </form>
          <div class="modal fade" id="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Desmobilizar ferramenta {{ ferramenta_disponivel_form.matricula.value }}</h4>
                        <form action="{% url 'editar_ferramenta_disponivel' type ferramenta_disponivel_id id %}" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="modal-footer">
                            <a>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                            </a>
                            <a href="{% url 'desmobilizar_ferramenta_disponivel' type ferramenta_disponivel_id id temp %}">
                              <button type="button" class="btn btn-danger" >Desmobilizar</button>
                            </a>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="modalpermanente" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card">Desmobilizar ferramenta {{ ferramenta_disponivel_form.matricula.value }} permanentemente </h4>
                        <form action="{% url 'editar_ferramenta_disponivel' type ferramenta_disponivel_id id %}" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="modal-footer">
                            <a>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                            </a>
                            <a href="{% url 'desmobilizar_ferramenta_disponivel' type ferramenta_disponivel_id id perm %}">
                              <button type="button" class="btn btn-danger" >Desmobilizar</button>
                            </a>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include 'partials/_footer.html' %}
      </div>
    </div>
  </div>
  {% include 'partials/_static_js.html' %}
</body>

</html>

